<!DOCTYPE html>
<html>
<head>
    <title>Paletės duomenys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Paletės duomenys</h1>
        <form method="post">
            <input type="number" name="length" placeholder="Ilgis" required>
            <input type="number" name="width" placeholder="Plotis" required>
            <input type="number" name="height" placeholder="Aukštis" required>
            <input type="number" step="0.01" name="pallet_weight" placeholder="Svoris" required>
            <button type="submit">Išsaugoti paletę</button>
        </form>
    </div>
</body>
</html>